<div class="container">
  <%= render "artists/nav" %>
  <div class="col-md-6">
    <% if @artist.photos.any? %>
    <% @artist.photos.each do |photo|%>
    <%= image_tag photo.image, style: 'height:35em' %>
    <%end%>
    <%else%>
    <p>This Artist has no picture</p>
    <%end%>
  </div>
  <div class="col-md-6">

    <h3>
      <%= @artist.first_name%>
      <%= @artist.last_name%>
    </h3>
    <ul>
      <li>
        <b>Age:</b>
        <%= @artist.age%></li>
      <li>
        <b>Origin:</b>
        <%= @artist.origin%></li>
    </ul>
    <h3>Songs:</h3>
    <% @artist.songs.each do |song|%>
    <ul>
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Beats_Music_logo.svg" height="20" width="20">
      <%=song.title%>
      <!-- <button type="button" class="btn btn-xs btn-danger pull-right">Delete</button> -->
<%= link_to "[Delete]", song_path(song.id), :class => "btn btn-xs btn-danger pull-right", method: :delete, data: { confirm: "Are you sure?" } %>
    </ul>
    <%end%>
    <hr>
    <%= render "shared/form" %>
    <!-- <%= link_to "Back", artists_path, class: "btn btn-default" %> -->
  </div>

</div>
