<h2>Artist Details:</h2>
<hr>
<% if @artist.photos.any? %>
<% @artist.photos.each do |photo|%>
<%= image_tag photo.image %>
<%end%>
<%else%>
<p>This Artist has no picture</p>
<%end%>
<h3>
  <%= @artist.first_name%>
  <%= @artist.last_name%>
</h3>
<h4>
  <p>Age:
    <%= @artist.age%></p>
  Origin:
  <%= @artist.origin%>
</h4>
