<h2>Song Details:</h2>
<hr>
<ul>
  <h4>Title:<%=@song.title%></h4>
  <li>Artist:<%=@song.artist.full_name%></li>
  <li>Album:<%=@song.album%></li>
  <li>Release Date:<%=@song.release_date%></li>
  <li>Album:<%=@song.album%></li>
  <li>Award:<%=@song.award%></li>
</ul>
<%= link_to "Back", songs_path, class: "btn btn-info"%>
