<div class="container">

  <h2><%=@song.title%>:</h2>
  <hr>
  <ul>
    <li>
      <b>Artist:</b>
      <%=@song.artist.full_name%></li>
    <li>
      <b>Album:</b>
      <%=@song.album%></li>
    <li>
      <b>Release Date:</b>
      <%=@song.release_date%></li>
    <li>
      <b>Award:</b>
      <%=@song.award%></li>
  </ul>
  <hr>
</div>
